<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated quiz-runtime -->
      <factory
            uri="platform:/plugin/no.hal.pg.quiz.runtime/model/quiz-runtime.ecore"
            class="no.hal.pg.quiz.runtime.provider.RuntimeItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated quiz-runtime -->
      <editor
            id="no.hal.pg.quiz.runtime.presentation.RuntimeEditorID"
            name="%_UI_RuntimeEditor_label"
            icon="icons/full/obj16/RuntimeModelFile.gif"
            extensions="runtime"
            class="no.hal.pg.quiz.runtime.presentation.RuntimeEditor"
            contributorClass="no.hal.pg.quiz.runtime.presentation.RuntimeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated quiz-service -->
      <factory
            uri="platform:/plugin/no.hal.pg.quiz.runtime/model/quiz-service.ecore"
            class="no.hal.pg.quiz.runtime.service.provider.ServiceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated quiz-service -->
      <editor
            id="no.hal.pg.quiz.runtime.service.presentation.ServiceEditorID"
            name="%_UI_ServiceEditor_label"
            icon="icons/full/obj16/ServiceModelFile.gif"
            extensions="service"
            class="no.hal.pg.quiz.runtime.service.presentation.ServiceEditor"
            contributorClass="no.hal.pg.quiz.runtime.service.presentation.ServiceActionBarContributor">
      </editor>
   </extension>

   <extension
         point="no.hal.pg.runtime.ui.htmlGenerator">
      <htmlGenerator
            eClasses="Quiz QuizPart"
            ePackage="platform:/plugin/no.hal.quiz.model/model/quiz.ecore"
            generatorClass="no.hal.pg.quiz.runtime.ui.HtmlGenerators$Quiz2TextGenerator">
      </htmlGenerator>
      <htmlGenerator
            eClasses="QuizTaskDef"
            ePackage="platform:/plugin/no.hal.pg.quiz.model/model/quiz.ecore"
            generatorClass="no.hal.pg.quiz.runtime.ui.HtmlGenerators$Quiz2TextGenerator">
      </htmlGenerator>
      <htmlGenerator
            eClasses="Quiz"
            ePackage="platform:/plugin/no.hal.quiz.model/model/quiz.ecore"
            generatorClass="no.hal.pg.quiz.runtime.ui.HtmlGenerators$Quiz2XhtmlGenerator">
      </htmlGenerator>
   </extension>
</plugin>
