<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pg-sokoban-runtime -->
      <package
            uri="platform:/plugin/no.hal.pg.sokoban.runtime/model/pg-sokoban-runtime.ecore"
            class="no.hal.pg.sokoban.runtime.RuntimePackage"
            genModel="model/pg-sokoban-runtime.genmodel"/>
   </extension>

</plugin>
