<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="no.hal.pokemongo.diagram.Activator"
               id="no.hal.pokemongo.diagram"
	       name="diagram">
    </component>
  </extension>
</plugin>
