<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated quiz -->
      <factory
            uri="platform:/plugin/no.hal.pg.quiz.model/model/quiz.ecore"
            class="no.hal.pg.quiz.model.provider.ModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated quiz -->
      <extender
            uri="platform:/plugin/no.hal.pg.model/model/pg.ecore"
            class="no.hal.pg.quiz.model.provider.ModelItemProviderAdapterFactory$ModelChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated quiz -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.hal.pg.quiz.model.presentation.ModelModelWizardID"
            name="%_UI_ModelModelWizard_label"
            class="no.hal.pg.quiz.model.presentation.ModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelModelFile.gif">
         <description>%_UI_ModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated quiz -->
      <editor
            id="no.hal.pg.quiz.model.presentation.ModelEditorID"
            name="%_UI_ModelEditor_label"
            icon="icons/full/obj16/ModelModelFile.gif"
            extensions="model"
            class="no.hal.pg.quiz.model.presentation.ModelEditor"
            contributorClass="no.hal.pg.quiz.model.presentation.ModelActionBarContributor">
      </editor>
   </extension>

</plugin>
