#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated archetype -->
      <package
            uri="platform:/plugin/${artifactId}/model/${name}.ecore"
            class="${package}.model.ModelPackage"
            genModel="model/${name}.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated archetype -->
      <parser
            type="archetype"
            class="${package}.model.util.ModelResourceFactoryImpl"/>
   </extension>

</plugin>
