<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tests -->
      <package
            uri="platform:/plugin/no.hal.pg.runtime.tests/src/no/hal/pg/runtime/engine/tests/tests.ecore"
            class="no.hal.pg.runtime.engine.tests.TestsPackage"
            genModel="src/no/hal/pg/runtime/engine/tests/tests.genmodel"/>
   </extension>

</plugin>
