<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pg-runtime -->
      <package
            uri="platform:/plugin/no.hal.pg.runtime/model/pg-runtime.ecore"
            class="no.hal.pg.runtime.RuntimePackage"
            genModel="model/pg-runtime.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated pg-runtime -->
      <parser
            type="pg-rt"
            class="no.hal.pg.runtime.util.RuntimeResourceFactoryImpl"/>
   </extension>

</plugin>
